body{
  margin: 0;
}
#clock-container{
  display: flex;
  justify-content: center;
  allign-items: center;
  height: 100vh;`
}
#clock{
  font-family: monospace;
  font-size: 6.5rem;
  font-weight: bold;
  text-allign: center;
  color: white;
  backdrop-fillter: blur(5px);
  background-color: hs1(0, 0%, 100%, 0.1);
  width: 100%;
}
